body{
   background: linear-gradient(90deg, rgba(7,3,75,1) 0%, rgba(9,9,184,1) 0%, rgba(21,138,178,1) 27%, rgba(81,123,186,1) 59%, rgba(141,171,178,1) 100%);
}
.center1{
    border:10px solid white;
    border-radius:20px;
    width:550px;
    margin-left:400px;
    margin-top:50px;
    padding-bottom:30px;
}
table{
    color:white;
    width:470px;
    background-color:#616a6b;
    border:10px solid #808080;
    border-radius:20px;
    margin-top:50px;
}
.table1{
    color:white;
    width:400px;
    background-color:#616a6b;
    margin-top:40px;
    border:10px solid #808080;
    border-radius:20px;
}
img{
    display:inline;
    height:100px;
    width:200px;
}
.img1{
    display:inline;
    height:40px;
    width:100px;
}
hr{
  border: 2px solid #808080;
  border-radius: 5px;
}
a{
    color:blue;
}
button{
    height:30px;
    width:80px;
    border-radius:20px;
    background-color: LightGray;
}
button:hover {
  background-color: white;
      height:40px;
      width:100px;
      border-radius:20px;
}
.eight{
}
